---
import Layout from "../../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import { Image } from "astro:assets";

changeLanguage("it");
---

<Layout title={t("contact.title")} <main>
  <h2>Hello from Contact</h2>
</Layout>
