---
import Layout from "../../layouts/Layout.astro";
import Features from "../../components/Features.astro";
import { Image } from "astro:assets";
import Cover from "../../../public/cover.webp";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("it");
---

<Layout title={t("home.title")}>
  <main class="bg-red-900">
    <div class="">
      <div
        class="h-[500px] bg-[url('/hero2.jpg')] bg-cover bg-[center_bottom] bg-no-repeat md:bg-center"
      >
        <div
          class="flex h-[500px] flex-col items-center justify-between rounded-b bg-gradient-to-b from-black/80 via-white/20 to-black/80"
        >
          <div class="mx-auto max-w-screen-lg p-4">
            <h2 class="my-4 font-marker text-2xl text-white md:text-5xl">
              {t("home.quote")}
            </h2>
            <p
              class="self-start font-marker text-3xl text-gray-800 md:text-5xl"
            >
              Paul Gascoigne
            </p>
          </div>
        </div>
      </div>
      <div class="w-full rounded border-2 border-red-900 bg-white p-6">
        <Trans i18nKey="home.first">
          <p class="text-lg text-black">
            <span class="font-bold">Gascoigne Pub</span> has been a reference
            point for discerning customers and music lovers for over ten years.
          </p>
        </Trans>
        <p class="pt-2 text-lg text-black">
          {t("home.second")}
        </p>
        <hr class="mx-1 my-6 border border-red-900" />
        <Features />
      </div>
    </div>
    <div class="flex flex-col items-center lg:flex-row">
      <Image
        src={Cover}
        alt={"Entrance of the pub"}
        class="relative object-cover lg:w-1/2"
      />
      <div
        class="mx-auto flex flex-col items-center justify-center border-2 border-white p-8 md:gap-4 md:border-none"
      >
        <p
          class="max-w-sm p-8 text-center font-marker text-lg text-white md:max-w-lg md:text-2xl xl:text-4xl"
        >
          {t("home.third")}
        </p>
        <button
          class="w-1/2 rounded bg-white px-1 py-4 text-center text-xl font-bold text-red-900 animate-pulse"
        >
          <a href="contact" class="">{t("home.cta")}</a>
        </button>
      </div>
    </div>
  </main>
</Layout>
