---
import { Image } from "astro:assets";
import Circle from "../../public/logoc.png";
---

<div class="bg-red-900 border-t border-white">
  <div class="flex col justify-center items-center">
    <Image
      class="p-4 ml-4 h-40 w-40"
      src={Circle}
      alt="Il logo ufficiale del Gascoigne Pub"
      width={170}
    />
  </div>
  <p class="text-center text-white p-2">
    Copyright © Pub Gascoigne di Adriana Ferrara 2023.
  </p>
</div>
