---
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import Testata from "../components/Testata.astro";
interface Props {
  title: string;
}
import Footer from "../components/Footer.astro";
import "@fontsource/permanent-marker";

const { title } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t("site.description")} />
    <HeadHrefLangs />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Testata />
    <slot />
    <Footer />
  </body>
</html>
